<nav class="navbar">
    <div class="container">
        <a class="navbar-brand" href="/lists">
            <%= image_tag 'Wagonflix.png', alt: 'Wagonflix Logo', width: 200 %>
        </a>
        <div class="ml-auto">
            <%= link_to 'New List', new_list_path, class: 'btn btn-outline-danger' %>
        </div>
    </div>
</nav>

<div class="name-list">
  <h1><%= @list.name.upcase %></h1>
</div>
<hr class="hr-top">
<div class="add-movie">
    <%= link_to 'Add a movie', new_list_bookmark_path(@list), class: 'btn btn-danger' %>
</div>

<div class="row">
  <% if @list.bookmarks.any? %>
    <% @list.bookmarks.each do |bookmark| %>
      <div class="col-md-3 mb-4">
        <div class="card-show">
          <img src="https://image.tmdb.org/t/p/original<%= bookmark.movie.poster_url %>" class="card-img-top" alt="<%= bookmark.movie.title %> Poster">
          <%# <hr> %>
          <div class="contentBx">
            <h5 class="title-rating">
              <span class="title"><%= bookmark.movie.title %></span>
              <span class="rating"><strong><%= '%.1f' % bookmark.movie.rating %></strong> <i class="star fa-solid fa-star"></i></span>
            </h5>
            <p class="overview"><%= bookmark.movie.overview.truncate(150) %></p>
          <p class="bookmark-comment"><i class="quote fa-solid fa-quote-left"></i> <%= bookmark.comment %> <i class="quote fa-solid fa-quote-right"></i></p>
          <h6 class="delete-bookmark"><%= link_to '<i class="fa-solid fa-trash-can"></i>'.html_safe, bookmark_path(bookmark), class: 'delete-bookmark btn btn-outline-danger', data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this movie?" } %></h6>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="card-no-movies" style="display: inline-block;">
      <div class="card-body">
        <p class="no-movies"><i class="heart fa-solid fa-heart-crack"></i> No movies yet.</p>
        <div class="text-center">
          <%= link_to 'Add a movie', new_list_bookmark_path(@list), class: 'btn btn-outline-danger' %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<hr class="hr-top">
<div class="container-review">
  <h1>Reviews</h1>
</div>

<div class="delete-list">
  <%= link_to "Delete List", list_path(@list), class: "delete-list btn btn-danger", data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this list?" } %>
</div>
